@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Secular+One&family=Roboto+Mono&display=swap');


@import './components/icon.scss';
@import './components/header.scss';
@import './components/footer.scss';

@import './layout/home.scss';

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Secular One', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}
