<footer id="site-footer">
  <div class="column c1">
    <article id="site-title-desc">
      <img
        src="https://avatars3.githubusercontent.com/u/65415343?s=50&v=4"
        alt="Rust Argentina Logo"
        height="50"
        width="50"
      />
      <div>
        <strong>Rust Argentina</strong>
        <span>Comunidad Argentina de Rust</span>
      </div>
    </article>
  </div>
  <div id="social" class="column c2">
    <h3>Social</h3>
    <ul class="link-list">
      <li>Telegram</li>
    </ul>
  </div>
  <div class="column c3">
    <h3>Links</h3>
    <ul class="link-list">
      <li>GitHub</li>
    </ul>
  </div>
</footer>
