<section id="home">
  <img
    src="https://raw.githubusercontent.com/rust-lang-ar/rust-lang-ar.github.io/development/src/img/rust-lang-ar-logo.png"
    height="120"
    width="120"
  />
  <div id="intro">
    <h1>Rust Argentina</h1>
    <span>Sitio de la comunidad Argentina de Rust</span>
  </div>
  <ul id="contact-tier">
    <li>{{> ../components/icon name="github" }}</li>
    <li>{{> ../components/icon name="telegram" }}</li>
  </ul>
</section>
