@import '../theme.scss';

#home {
  @include landing-section();

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #intro {
    text-align: center;

    span {
      display: inline-block;
    }
  }

  #contact-tier {
    margin: 0;
    padding: 0;

    li {
      background-color: $black;
      border-radius: 100%;
      display: inline-block;
      height: 30px;
      margin: 0 1rem;
      width: 30px;
    }
  }
}
