<header id="header">
  <div id="wrapper">
    <div id="logo">
      <figure>
        <img
          src="https://avatars3.githubusercontent.com/u/65415343?s=50&v=4"
          alt="Rust Argentina Logo"
          height="50"
          width="50"
        />
      </figure>
    </div>
    {{> nav}}
  </div>
</header>
